div.padded {  
  padding-top: 150px;  
  padding-right: 100px;  
  padding-bottom: 50px;  
  padding-left: 100px;  
}  
body {
	font-family: 'Roboto', sans-serif;
	background-color: #ebebeb;
}

.PageTitle {
	margin: 0px auto;
	margin-top: 250px;
	margin-bottom: -80px;
	width: 40%;
	/*
    font-family: 'Roboto', sans-serif;
	font-size: 80px;
	text-align: center;
	font-weight: 700;
	*/
}

#FinalTitle {
	width: 25%;
}


.Content {
	margin: 0px auto;
	width: 70%;
	background-color: #FFFFFF;
	border-radius: 25px;
	box-shadow: 0 0 10px #AAAAAA;
	min-width: 800px;
}

.BackgroundImage {
	position: fixed;
	top: 0px;
	z-index: -3;
}

.NavBar {
	position: fixed;
	width: 100%;
	height: 150px;
	top: 0%;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #AAAAAA;
	z-index: 10;
}

.NavTitleContainer {
	width: 100%;
	height: 100%;
	margin: auto 0 ;
	display: flex;
	justify-content: center;
}

.NavTitleImage {
	position: absolute;
	height: 100%;
	width: 180px;
	/*background-color:#333333;*/
	margin-top: 10px;
}

.NavButtons {
	position: absolute;
	bottom: 5px;
	display: flex;
	justify-content: center;
}

.NavButton {
	margin-left: 20px;
	margin-right: 20px;
}

a {
    font-family: 'Roboto', sans-serif;
	color: #777777;
	text-decoration: none;
}

a:hover {
	color: #333333;
}

.Hline {
	height: 2px;
	width: 100%;
	background-color: #777777;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 40px;
}

/*
.NavTitle {
	position: relative;
	width: 50%;
	margin: 20px auto;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #555555;
}
*/

p {
	text-align: left;
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 150%;
	color: #555555;
}

.Citation {
	text-align: center;
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: 150%;
	color: #555555;
	margin-bottom: 50px;
}

.ImageRow {
	display: inline-block;
	height: 300px;
}

.ImageContainer {
	overflow:hidden;
	width: 400px;
	height: 400px;
	margin-bottom: 50px;
}

.ImageContainer > img {
	height: 100%;
	width: auto;
	margin: auto;
}

td > img {
	border-radius: 8px;
}

.Footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
    font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #888888;
}

figcaption {
    font-family: 'Roboto', sans-serif;
	font-style: italic;
	line-height: 150%;
	color: #888888;
	text-align:center;
}

img {
	width: 100%;
	height: auto;
}
.Row {
	width: 100%;
	text-align: center;
}

.Button {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	transition: 0.5s;
	opacity: 70%;
	width: 150px;
	height: 150px;
	background-color: #000000;
	margin: 0 auto;
	text-align: center;
}

.Button:hover {
	transition: 0.5s;
	opacity: 100%;
	border-radius: 40px;
}

.Button:hover .ButtonText {
}

.ButtonText {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: #FFFFFF;
	transition: 0.5s;
}

.Overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #171b3d;
	opacity: 50%;
}

.Button > img {
	position: absolute;
	height: 100%;
	width: auto;
	transform: translateX(-50%);
}

.Center {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

h1 {
	font-size: 50px;
}

h3 {
	margin-top: 50px;
}

iframe {
	display: block;
	border-style:none;
	margin: 0 auto;
}
